
.display-1,
h1{
    color: purple;
    font-family: 'Russo One', sans-serif;
;
}

.card-title,
.card-text{
    color: black;
}

.btn{
    background-color: purple;
    color: white;
}

.card-body{
    padding: 40px;
}

.header{
    color: purple;
    font-family: 'Russo One', sans-serif;
}

.container{
    background: url(/assets/tclogo.png);
    background-repeat: no-repeat;
    background-position: center top;
    opacity: 10;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
