

.display-1,
h1{
    color: purple;
    font-family: 'Russo One', sans-serif;
}

h4{
    color: #6441A4;
    font-family: 'Russo One', sans-serif;
    opacity: 75%;
    font-size: medium;
}

.card-title,
.card-text{
    color: black;
}

.btn{
    background-color: #6441A4;
    color: white;
} 

.card-body{
    padding: 40px;
}

.header{
    color: purple;
    font-family: 'Russo One', sans-serif;
}

.container{
    background: url(/assets/tclogo.png);
    background-repeat: no-repeat;
    background-position: center top;
    opacity: 10;
    height: 350px;
}

.footer{
    position: fixed;
    bottom: 0;
    color: grey;
}

.create-form{
    width: 70%;
}

.deletebtn{
    width: 25%;
}