<div class="container mt-5">
  <div class="row">

    {{!-- Log-out button --}}
    <div class="col-sm-12 text-end">
      <button class="btn btn-primary logoutbtn mt-2">Logout</button>
    </div>
  </div>

  <div class="row">

    {{!-- Search div --}}
    <h1>Twitch Clips!</h1>
    <div class="col-6 mt-3">
      <div class="card py-4 px-4">
        <h4>Search clips by name of the game or streamer</h4>
        <form class="create-form mt-3">
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="gamename" placeholder="Game Name">
            <button class="btn btn-outline-secondary searchgame" type="button">Search</button>
          </div>

          <div class="input-group mb-3">
            <input type="text" class="form-control" id="streamer-search" placeholder="Streamer Name">
            <button class="btn btn-outline-secondary searchstream" type="button" id="button-addon2">Search</button>
          </div>
        </form>

        <div id="clips">
        </div>

      </div>
    </div>

    {{!-- saved clips being loaded using handle bars each method with the proper parameters --}}
    <div class="col-5 mt-3">
      <div class="card saved-card py-4 px-4">
        <h4>Saved Clips: </h4>

        {{#each videos}}
        <iframe src="https://clips.twitch.tv/embed?clip={{video}}&parent={{../url}}" frameborder="0"
          allowfullscreen="true" height="250" width="450"></iframe>
        <button data-clip={{id}} class="deletebtn btn btn-primary">Delete clip</button><br>
        {{/each}}

      </div>
    </div>


  </div>

</div>