<h1>Twitch Clips!</h1>

<h2> Saved Clips: </h2>
<div class="searchedclips">

    {{#each videos}}

      <iframe src = "https://clips.twitch.tv/embed?clip={{video}}&parent={{../url}}" frameborder = "0" allowfullscreen = "true" height = "200" width = "400"></iframe>
      <button class = "deletebtn">Delete clip</button>

    {{/each}}

</div>




<h2>New search</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Game Name:</label>
    <input type="text" id="gamename">
  </div>
  <button class="searchgame" type="submit">Search</button>

  <div class="form-group">
    <label for="ca">Streamer Name:</label>
    <input type="text" id="streamer-search">
  </div>


  <button class="searchstream" type="submit">Search</button>
</form>

  <h2>Searched Clips:</h2>
<div id="clips">

</div>