<body class="body">
  {{!-- <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="dash.html">
        <img src="..\assets\580b57fcd9996e24bc43c540.png" alt="" width="30" height="24"
          class="d-inline-block align-top">
        Twitch Clips
      </a>
    </div>
  </nav> --}}

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2 class="header">Sign Up</h2>
        <form class="signup">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email-input" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password">
          </div>
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
          <button type="submit" class="btn btn-default">Sign Up</button>
        </form>
        <div>
          <p>Already have an account? Sign in here:</p>
          <button class="loginbtn" type="submit" class="btn btn-default">Log In</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/signup.js"></script>

</body>